[Desktop Entry]
Type=Application
Name=OpenSwitcher
Comment=Start OpenSwitcher
Exec=/usr/lib/open-switcher/open-switcher-launch --manual
Icon=open-switcher
Categories=Utility;
Terminal=false
