[Unit]
Description=OpenSwitcher XTEST guardian

[Service]
Type=exec
ExecStart=/usr/bin/open-switcher-daemon --internal-xtest-guardian-v1
Restart=no
KillMode=control-group
TimeoutStopSec=7s
UMask=0077
NoNewPrivileges=yes
RestrictAddressFamilies=AF_UNIX
